body{
    font-family: Georgia;
    text-align: center;
    background-color: lightsteelblue;
}

header{

}

img{    
    width: 80%;
}

aside{

}

main{

}

table{
    width: 70%;
    margin: auto;
    border: 1px dotted maroon;
}
table tr:hover{
    background-color: steelblue;
    color: white;
}

footer{
    background-color: orange;
    margin: 10px;
}

